$breakpoint-mobile: 768px;



@import 'reset';
@import 'buy';

@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700,800,900');


* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: "Kanit",sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1{
	color: #fff;
	font-size: 40px;
	
}
.logo{
	width: 62px;
	height: 62px;
	margin: 10px 0;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	// @media screen and (max-width: $breakpoint-mobile){
	// 	width: 30px;
	// 	height: 30px;
	// 	left: 5%;
	// 	top: 10px;

	// }
}
.page{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	background-repeat: no-repeat;
	background-size: cover;
}
.confirmation{
	opacity: 0;
	transition: .5s;
	&.active{
		opacity: 1;
	}
}
#sell{
	padding: 15% 5% 5% 5%;
	display: flex;
	flex-direction: column;
	

	h1{
		margin-top: 100px;
		margin-bottom: 50px;
		text-transform: uppercase;
		@media screen and (max-width: $breakpoint-mobile){
			margin: 120px 0;

			h1{
				font-size: 1.3rem;
			}
		}
	}
}
.picked{
	border: 2px solid #fff;
}
form h2{
	margin-bottom: 100px ;
}
label{
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
}
// input[type=file]{
// 	width: 200px;
// 	height: 200px;
// 	line-height: 20px;
// 	background-color: #f7f7f7;
// 	font-family: "Kanit", sans-serif;
// 	font-size: 1rem;
// 	border-radius: 50%;

// }
/////

.inputfile{
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputfile-4 + label {
    color: #fff;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
	color:#fff;

}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    display: block;
    padding: 20px;
	margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #000;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

/////
input[type=submit]{
	width: 200px;
	height: 50px;
	line-height: 20px;
	background-color: #f7f7f7;
	font-family: "Kanit", sans-serif;
	font-size: 1rem;
	border-radius: 3px;
}
form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	input[type=text], select{
		width: 80%;
		line-height: 20px;
	}
	h2{
		color: #fff;
	}

}
.col-container{
	display: flex;
	flex-direction: row;
	@media screen and (max-width: $breakpoint-mobile){
		flex-direction: column-reverse;
		text-align: center;
	}
	.or{
		font-size: 3rem;
		color: #fff;
		margin: 0 20px;
		display: flex;
		align-items: center;
		@media screen and (max-width: $breakpoint-mobile){
			justify-content: center;
		}
	}
	h2{
		color: #fff;
		font-size: 1.5rem;

	}
	

	.col{
		width: 50%;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: $breakpoint-mobile){
			width: 100%;
	
			h2{
				font-size: 1rem;
			}
		}
	}
	.box{
		display: flex;
		justify-content: center;
	}
	
	.col1{
		ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			li{
				cursor: pointer;
				margin: 10px;
				&:hover{
					p{
						opacity: 1;
					
					}
				}
				p{
					color: #fff;
					text-transform: uppercase;
					opacity: 0;
					text-align: center;
					margin-top: -50px;
				}
			}
		}
	}

}
nav {
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	transition: .3s;
	a{
		text-decoration: none;
		color: #fff;
		font-size: 1rem;
		text-transform: uppercase;

	}
	@media screen and (max-width: $breakpoint-mobile){
		width: 100%;
	}
}

#scene{
	width: 100%;
	margin: 0 auto;
	top: 100px;
    left: 12%;
	div{
		img{
			width: 70%;
		}
	}

}

.hero{
	max-height: 100vh;
	overflow: hidden;
	@media screen and (max-width: $breakpoint-mobile){
		overflow: unset;
	}
}


.shoe-info{
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #fff;
	text-align: center;
	h1{
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 500;
	}
	p{
		font-weight: 100;
	}
	h2{
		font-size: 7rem;
	}
	div{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 20%;
	}
}

/////arrows for hero jordans on mobile////

#next, #prev{ 
	position: absolute;
	z-index: 9999999;
	top: 50%;
	transition: .3s;
	font-size: 1.5rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0);
	color: #fff;
	cursor: pointer;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#next{
	right: 5%;

}
#prev{ 
	left: 5%;

}
.white{
	color: #fff;
}

.site-area{
	padding: 5%;
	background-color: #fff;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	h1{
		color: #000;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: 900;
		margin-bottom: 50px;
		transition: .3s;
		@media screen and (max-width: $breakpoint-mobile){
			font-size: 2.5rem;
			margin-bottom: 20px;
		}
	}
	.hash{
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 100px;

	}
	.container{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		margin: 100px 0 ;
		@media screen and (max-width: $breakpoint-mobile){
			flex-direction: column;
		}
		.box{
			margin:0 5%;
 			height: 200px;
			display: flex;
			width: 20%;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;;
			text-align: center;
			text-decoration: none;



			h2{
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 30px;
				font-size: 1.5rem;

			}
			p{
				color: grey;
			}

			a{
				width: 200px;
				height: 50px;
				background-color: #a63431;
				color: #000;
				text-decoration: none;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
			}
			@media screen and (max-width: $breakpoint-mobile){
				width: 100%;
				margin: 0 0 40px 0;
			}


		}
		
	}
	.image-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		@media screen and (max-width: $breakpoint-mobile){
			flex-direction: column;
		}
		// align-items: center;
		// justify-content: center;
		.col{
			width: 50%;
			display: flex;
			flex-direction: column;
			@media screen and (max-width: $breakpoint-mobile){
				width: 100%;
			}

			img{
				max-width: 40%;
				margin: 5%;
				@media screen and (max-width: $breakpoint-mobile){
					max-width: 50%;
				}
			}
			.smaller{
				max-width: 30%;
				@media screen and (max-width: $breakpoint-mobile){
					max-width: 50%;

					&.cut{
						display: none;
					}
				}
			}
		}
		.col-2{
			margin-top: 100px;
			align-items: flex-start;
			@media screen and (max-width: $breakpoint-mobile){
				align-items: center;
				margin: 0 0;
			}
			
		}
		.col-1{
			align-items: flex-end;
			@media screen and (max-width: $breakpoint-mobile){
				align-items: center;
				margin: 0 0;
			}
		}
	}
	

	
}

#down{
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	transition: 1s;
}


@media screen and (max-width: $breakpoint-mobile){
	.hide-on-mobile{
		opacity: 0;
	}
}

footer{
	height: 50px;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@media screen and (max-width: $breakpoint-mobile){
		justify-content: center;
	}


	div{
		display: flex;
		flex-direction: row;
		color: #fff;
		font-weight: 100;
		font-size: 12px;
	}
	p{
		margin-right: 20px;
	}
}